<div class="container-xxl py-5">
  <div class="container" style="text-align: center">
    <div class=" row text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h1>Create Patient</h1>
    </div>
    <form [formGroup]="patientForm">
      <table style="display: inline-grid">
        <tbody>
        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Patient Id <i>&nbsp;*</i></span>
              <input type="text" class="form-control" placeholder="Enter Patient Id" formControlName="patientId"><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="patientForm.controls.patientId.hasError('required') && patientForm.controls.patientId.touched && patientForm.controls.patientId.dirty">Patient Id Can't Be Blank</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Patienter Code <i>&nbsp;*</i></span>
              <label style="width: 100%;">
                <select class="form-select" formControlName="patienter">
                  <option [defaultSelected]="patientForm" value="" disabled>-- Select Patienter --</option>
                  <option *ngFor="let item of patienters" [ngValue]="item.id">{{item.patienterName}}</option>
                </select>
              </label>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="patientForm.controls.patienter.hasError('required') && patientForm.controls.patienter.touched && patientForm.controls.patienter.dirty">Patienter Can't Be Blank</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Hospitalize <i>&nbsp;*</i></span>
              <input type="date" class="form-control" formControlName="hospitalize"><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="patientForm.controls.hospitalize.hasError('required') && patientForm.controls.hospitalize.touched && patientForm.controls.hospitalize.dirty">Hospitalize Can't Be Blank</p>
            <p *ngIf="patientForm.controls.hospitalize.hasError('checkStart') && patientForm.controls.hospitalize.touched && patientForm.controls.hospitalize.dirty">Hospitalize Must < Current Date</p>
            <p *ngIf="patientForm.hasError('checkDate') && patientForm.controls.hospitalize.touched && patientForm.controls.hospitalize.dirty">Hospitalize Must < Discharge</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Discharge <i>&nbsp;*</i></span>
              <input type="date" class="form-control" formControlName="discharge"><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="patientForm.controls.discharge.hasError('required') && patientForm.controls.discharge.touched && patientForm.controls.discharge.dirty">Discharge Can't Be Blank</p>
            <p *ngIf="patientForm.controls.discharge.hasError('checkEnd') && patientForm.controls.discharge.touched && patientForm.controls.discharge.dirty">Discharge Must < Current Date</p>
            <p *ngIf="patientForm.hasError('checkDate') && patientForm.controls.discharge.touched && patientForm.controls.discharge.dirty">Discharge Must > Hospitalize</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Reason <i>&nbsp;*</i></span>
              <input type="text" class="form-control" formControlName="reason"><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="patientForm.controls.reason.hasError('required') && patientForm.controls.reason.touched && patientForm.controls.reason.dirty">Reason Can't Be Blank</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Treatments <i>&nbsp;*</i></span>
              <input type="text" class="form-control" formControlName="treatments"><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="patientForm.controls.treatments.hasError('required') && patientForm.controls.treatments.touched && patientForm.controls.treatments.dirty">Treatments Can't Be Blank</p>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input-group flex-nowrap">
              <span class="input-group-text">Doctor <i>&nbsp;*</i></span>
              <input type="text" class="form-control" formControlName="doctor"><br>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <p *ngIf="patientForm.controls.doctor.hasError('required') && patientForm.controls.doctor.touched && patientForm.controls.doctor.dirty">Doctor Can't Be Blank</p>
          </td>
        </tr>

        <tr>
          <td style="padding: 20px">
            <div class="vstack" style="display: inline">
              <button style="border: none; background: none" class="m-5" (click)="submit()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle text-success" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
              </button>
              <a class="m-5" routerLink="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x text-danger" viewBox="0 0 16 16">
                  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
